@media (max-width: 1133px) {
    .side-bar {
        height: 650px;
    }
    .column-container{
        height: 410px;
        max-height: 410px;
    }
}

@media (max-width: 895px) {
    .App-container{
        display: block;
    }
    .side-bar{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 40%;
        gap: 0px;
        height: auto!important;
    }
    .item-logo img{
        width: 50%!important;
    }
    .bottom-menu{
        position: relative;
    }
    .content-area{
        width: 100%;
    }
}
@media (max-width: 667px) {
    .side-bar{
        width: 100%;
        grid-template-columns: auto;
        gap: 5%;
    }
    .bottom-menu{
        width: 90%;
        display: grid;
        grid-template-columns: auto 10% 10%;
    }
    .line-spacer{
        display: none;
    }
    .column p{
        font-size: small;
    }
    svg{
        width: 20px;
        height: 20px;
    }
    .Live,.Close{
        font-size: smaller!important;
        
    }

}